Pressure_Field/Pressure_train.lsf
Pressure_Field/__pycache__/
Pressure_Field/logs/
Pressure_Field/model/__pycache__/
Pressure_Field/utils/__pycache__/
Pressure_Field/backup_logs/err_*.log

P3D/.pre-commit-config.yaml
P3D/.vscode/

PGD-NO/driver/logs/
PGD-NO/logs/
submit.sh


# Python cache
__pycache__/
*.pyc
*.pyo

